.place__paragraph-position-bottom {
    grid-area: place__paragraph-position-bottom;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
        .place__paragraph-position-bottom {
        font-size: 16px;
        }
    }

    @media screen and (max-width: 767px) {
        .place__paragraph-position-bottom {
        grid-area: place__paragraph-position-bottom;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 16px;
        }
    }