.intro__list {
    position: relative;
    width: 690px;
    height: 90px;
    margin: 0px;
    padding: 0px;
    margin-top: 33px;
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
    background-color: #2A2C2F;
    }