.intro__list {
    position: relative;
    max-width: 690px;
    margin: 0px;
    padding: 0px;
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
    list-style-type:none;
    list-style:none;
    background-color: #2A2C2F;
    }

    @media screen and (max-width: 767px) {
            .intro__list {
        max-width: 100%;
        }
    }