.lead {
    position: relative;
    padding: 0px;
    max-width: calc(100vw - 296px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #2A2C2F;
    }