.cover__subtitle {
    position: relative;
    margin: auto;
    width: 30%;
    height: auto;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    }