.cover__subtitle {
    position: relative;
    max-width: 28vw;
    margin: 32px 0px 0px 0px;
    padding: 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    z-index: 5;
    text-decoration-line: none;

    }

    @media (min-width: 1024px) and (max-width: 1279px) {
        .cover__subtitle {
          max-width: 35vw;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .cover__subtitle {
          max-width: 46vw;
          }
        }

        @media screen and (max-width: 767px) {
            .cover__subtitle {
              max-width: 90vw;
              margin: 16px 0px 0px 0px;
            font-size: 14px;
            line-height: 16px;
            }
        }