.lead__title {
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-top: 56px;
    width: 720px;                              /*меняется только на *320  */
    height: 200px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
    color: #FFFFFF;
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
   
        .lead__title {
        margin-top: 48px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
        .lead__title {
        margin-top: 52px;
        }
    }

    @media screen and (max-width: 767px) {
      
        .lead__title {
        margin-top: 48px;
        width: 288px;                              /*меняется только на *320  */
        height: 88px;
        font-size: 40px;
        line-height: 44px;
        /* or 104% */
        }
    }