.footer__links {
    display:inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    list-style: none;
    list-style-type:none;
}

@media screen and (max-width: 767px) {
.footer__links {
display: -webkit-flex; 
display: flex;
flex-direction: column;
    }
  }