.intro__list-normal {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    display: inline;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      
        .intro__list-normal {
        font-weight: normal;
        display: inline;
        }    
    }
    @media screen and (max-width: 767px) {
        .intro__list-normal {
        font-weight: normal;
        display: inline;
        }
    }