.cover__text {
    margin: 0px;
    padding: 0px;
    position: absolute;
    min-width: calc(100vw - 96px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border: 1px solid rgb(39, 243, 20);  
    min-height: 120vh;
    }
 
   @media (min-width: 1024px) and (max-width: 1279px) {
    .cover__text {
       min-height: 120vh;
       min-width: 100%;
     }
   }

   @media (min-width: 768px) and (max-width: 1023px) {
    .cover__text {
         min-height: 150vh;
         min-width: 100%;
     }
     }

   @media screen and (max-width: 767px) {
    .cover__text {
       min-height: 150vh;
       min-width: 100%;
     }
     }