.lead__images {
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-top: 64px;
    width: calc(100vw - 296px);
    height: 100vh;
    /*border: 1px solid rgb(24, 26, 167);*/
    background-image: url(../../../images/lead-polka.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .lead__images{
      margin-top: 56px;
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .lead__images{
      margin-top: 56px;
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
  
    .lead__images {
      margin-top: 40px;
      width: 100%;
    }
  }