.cover__background {
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  min-width: 100%;
  min-height: 100vh;
   background-image: url(../../../images/cover-trains.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     z-index: 1;
     text-decoration-line: none;

  }
  
  .cover__background:before {
    position: absolute;
    margin: 0;
    padding: 0;
    content: "";
  background-color: #000;
  opacity: 0.3;
  display: block;
  min-width: 100%;
  min-height: 100vh;
  z-index: 4;
}

.cover__background:hover:before {  
  opacity: 0.8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
} 

  @media (min-width: 1024px) and (max-width: 1279px) {
          
    .cover__background {
      min-height: 100vh;
      max-width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
      
    .cover__background {
      min-height: 100vh;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    .cover__background {
      margin: 66px 0px 0px 0px;
      min-height: 100vh;
      max-width: 100%;
    }
  }