.cover__title {
    position: relative;
    padding: 0px;
    margin: 245px 0px 0px 0px;
    max-width: 44vw;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    color: #FFFFFF;
    z-index: 5;
    
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
        .cover__title {
        margin: 195px 0px 0px 0px;
        max-width: 54vw;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .cover__title {
        margin: 115px 0px 0px 0px;
        max-width: 72vw;
        }
    }
    @media screen and (max-width: 767px) {
        .cover__title {
        margin: 33px 0px 0px 0px;
        max-width: 90vw;
        font-size: 32px;
        line-height: 35px;
        }
    }