.cover__title {
    position: absolute;
    padding: 0px;
    margin-top: 246px;
    margin-left: calc((100vw - 35vw)/2);
    max-width: 35vw;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    color: #FFFFFF;
    z-index: 5;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
        .cover__title {
         margin-top: 195px;
        margin-left: calc((100vw - 50vw)/2);
        max-width: 50vw;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .cover__title {
         margin-top: 115px;
        margin-left: calc((100vw - 70vw)/2);
        max-width: 70vw;
        }
    }
    @media screen and (max-width: 767px) {
        .cover__title {
            margin-top: 33px;
            margin-left: calc((100vw - 75vw)/2);
            max-width: 75vw;
        font-size: 32px;
        line-height: 35px;
        }
    }