.place {
    position: relative;
    margin: 0px;
    padding: 0px;
    padding-bottom: 80px;
    display: grid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-template-columns: 46% 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "place__title place__website"
      "place__image place__paragraph-position-top"
      "place__image place__paragraph-position-bottom";
    gap: 26px 40px;
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
      
      .place {
      padding-bottom: 80px;
      gap: 32px 27px;
      }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      .place {
      padding-bottom: 73px;
      gap: 28px 27px;
      }
    }
    @media screen and (max-width: 767px) {
    
      .place {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, min-content);
      grid-template-areas:
        "place__title"
        "place__website"
        "place__image"
        "place__paragraph-position-top"
        "place__paragraph-position-bottom";
      grid-row-gap: 32px;
      }
    }